<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amst_primeraevaluacinprctica_grupo4_pereira_campoverde">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AMST_PrimeraEvaluaciónPráctica_Grupo4_Pereira_Campoverde">
        <activity android:name=".Acierto"></activity>
        <activity android:name=".Falla" />
        <activity android:name=".Preguntas" />

        <activity android:name=".Preguntas"></activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>